In [53]:
import pandas as pd
import matplotlib

In [54]:
india_df = pd.read_csv('covid_19_india.csv')
vaccine_df = pd.read_csv('covid_vaccine_statewise.csv')

## Preprocessing
* Convert date to datetime object
* Convert `-` values to `0` for unrecorded ConfirmedIndianNational & ConfirmedForeignNational
* Remove `*` from certain state names

In [55]:
print('Original dtypes')
india_df.dtypes

Original dtypes

Sno                          int64
Date                        object
Time                        object
State/UnionTerritory        object
ConfirmedIndianNational     object
ConfirmedForeignNational    object
Cured                        int64
Deaths                       int64
Confirmed                    int64
dtype: object

In [56]:
india_df['Date'] = pd.to_datetime(india_df['Date'], format='%Y-%m-%d')
india_df['ConfirmedIndianNational'] = india_df['ConfirmedIndianNational'].apply(lambda x: 0 if x == '-' else int(x))
india_df['ConfirmedForeignNational'] = india_df['ConfirmedForeignNational'].apply(lambda x: 0 if x == '-' else int(x))
india_df['State/UnionTerritory'] = india_df['State/UnionTerritory'].apply(lambda x: x[:x.find('*')] if x.find('*') != -1 else x)

## 1.1

In [57]:
print('Modified dtypes w/ column names')
india_df.dtypes

Modified dtypes w/ column names

Sno                                  int64
Date                        datetime64[ns]
Time                                object
State/UnionTerritory                object
ConfirmedIndianNational              int64
ConfirmedForeignNational             int64
Cured                                int64
Deaths                               int64
Confirmed                            int64
dtype: object

In [58]:
print('Unique values/ranges for categorical values')
print('Unique states')
print(india_df['State/UnionTerritory'].unique())
print('Unique time values')
print(india_df['Time'].unique())
print('Date range')
print(india_df['Date'].min(), 'to', india_df['Date'].max())

Unique values/ranges for categorical values
Unique states
['Kerala' 'Telengana' 'Delhi' 'Rajasthan' 'Uttar Pradesh' 'Haryana'
 'Ladakh' 'Tamil Nadu' 'Karnataka' 'Maharashtra' 'Punjab'
 'Jammu and Kashmir' 'Andhra Pradesh' 'Uttarakhand' 'Odisha' 'Puducherry'
 'West Bengal' 'Chhattisgarh' 'Chandigarh' 'Gujarat' 'Himachal Pradesh'
 'Madhya Pradesh' 'Bihar' 'Manipur' 'Mizoram'
 'Andaman and Nicobar Islands' 'Goa' 'Unassigned' 'Assam' 'Jharkhand'
 'Arunachal Pradesh' 'Tripura' 'Nagaland' 'Meghalaya'
 'Dadra and Nagar Haveli and Daman and Diu'
 'Cases being reassigned to states' 'Sikkim' 'Daman & Diu' 'Lakshadweep'
 'Telangana' 'Dadra and Nagar Haveli' 'Himanchal Pradesh' 'Karanataka']
Unique time values
['6:00 PM' '10:00 AM' '7:30 PM' '9:30 PM' '8:30 PM' '5:00 PM' '8:00 AM']
Date range
2020-01-30 00:00:00 to 2021-08-11 00:00:00

In [59]:
print('Ranges for numerical/continuous columns')
india_df.describe().loc[['min', 'max']]

Ranges for numerical/continuous columns

,Sno,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
min,1.0,0.0,0.0,0.0,0.0,0.0
max,18110.0,177.0,14.0,6159676.0,134201.0,6363442.0